#screen {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: #042003;
}

#content {
  padding: 60px;
  color: #2ee928;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  text-shadow: 1px 1px 2px rgb(172, 201, 159), 0 0 1em rgb(172, 201, 159), 0 0 0.2em rgb(172, 201, 159);
}

#Image {
  position: relative;
  z-index: 1;
}

#Header {
  font-size: 300%;
  padding: 20px;
}

#Links{
  font-size: 200%;
  padding: 20px;
}

#Text{
  font-size: 150%;
  padding: 2%;
}

#scan, #outline {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}
#scan {
  opacity: 30%;
}

html, body {
  min-height: 100%;
  height: 100%;
}

a {
  color: #85e482;
}

/* visited link */
a:visited {
  color: #85e482;
}

/* mouse over link */
a:hover {
  color: rgb(207, 224, 55);
}

hr{
  background-color: black;
  color: #000;
}

.dropdown {
  display: inline-block;
  position: relative;
}

button{
  border:none;
  border-radius:5px;
  padding:15px 30px;
  font-size:18px;
  cursor:pointer;
  color: #2ee928;
  background-color: #0f550c;
  text-shadow: 1px 1px 2px rgb(172, 201, 159), 0 0 1em rgb(172, 201, 159), 0 0 0.2em rgb(172, 201, 159);
}

button:hover{
  background-color:#ddd;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#0f550c;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}

ul{
  padding-left: 40px;
}
* {padding: 0; margin: 0;}